// Colors
$color_pending: pink;
$color_focus: deeppink;
$color_focus_alt: yellow;

$color_white: #fff;
$color_black: #000;
$color_blue: #07c;

$color_title: $color_black;
$color_text: $color_black;
$color_link: $color_blue;



// dimensions
$dim_sitewidth: 1240;
$dim_radius: 0;
$dim_margin: 20;





// Fonts
$font_fallback: arial, sans-serif;
$font_text: 'Verdana', $font_fallback;
$font_size: 16;
$font_line_height: 130%;
$font_thin: 100;
$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_semibold: 600;
$font_bold: 700;
$font_black: 900;





// Effects
$time_transition: .5s;





// Paths
$theme: '../img/layout/';





// Levels
$levels: background, content, header, menu, cookies;





// BreakPoints
$bp_mobile: 320;
$bp_tablet: 768;
$bp_desktop: 1024;
$bp_desktop_hd: $dim_sitewidth + ( $dim_margin * 2 );
