- var lang = 'es'
- var dev = true
doctype html
include incl/_cc.jade
head
	meta(charset="utf-8")
	title Document title
	meta(name="description")
	include incl/_head.jade
body(class = "tpl_home home", class=dev ? '_dev' : '')
	.page

		include incl/_header.jade

		include incl/_menu.jade

		main#main.main_container(role = "main")
			.wrapper
				p (Main content)

		include incl/_footer.jade

	<!-- .page -->

	include incl/_js.jade

	include incl/_tag.jade