- var lang = 'es'
- var dev = true
doctype html
include partials/_cc.jade
head
	meta(charset="utf-8")
	title Document title
	meta(name="description")
	include partials/_head.jade
body(class = "tpl_home home", class=dev ? '_dev' : '')
	.page

		include partials/_header.jade

		include partials/_menu.jade

		main#main.main_container(role = "main")
			.wrapper
				p (Main content)

		include partials/_footer.jade

	<!-- .page -->

	include partials/_js.jade

	include partials/_tag.jade
