# Prepros
prepros.cfg

# Sass
.sass-cache
*.css.map


# Node
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
logs
*.log


# Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp


# Windows/OSX
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon
._*


# Logs and databases
*.log
*.sql
*.sqlite

# Public folder
public

### Compressed ###
*.7z
*.deb
*.gz
*.pkg
*.rar
*.rpm
*.sit
*.sitx
*.tar
*.zip
*.zipx
