// ***
//  Stylesheet _vars.scss
//
//  Table of Contents:
//  1. Colors
//  2. Fonts
//  3. Dimensions
//  4. Levels
//  5. Themes
//
// ***





// 1. Colors
// ---
$color-correct-blue: #007aff;
$color-bg: #f4f5f6;
$gradient-bg: linear-gradient(#fff, #f4f5f6);
$color-space-green: #084e62;
$color-space-light-green: #75af9e;
$color-space-extra-light-green: #b5e0cf;
$color-space-dark-orange: #903d25;





// 2. Fonts
// ---
$font-size: 16;
$font-sample: roboto, arial, sans-serif;
$font-asteroids: glegoo, arial, sans-serif;





//  3. Dimensions
// ---
$page-max-width: 1280;




//  4. Levels
// ---
$levels: footer, content, header;





//  5. Themes
// ---
$theme: '/assets/images/sample-page/';
