// ***
//  Stylesheet _vars.scss
//
//  Table of Contents:
//  1. Colors
//  2. Fonts
//  3. Dimensions
//  4. Levels
//  5. Themes
//
// ***





// 1. Colors
// ---
$color-correct-blue: #007aff;
$color-bg: #f4f5f6;





// 2. Fonts
// ---
$font-size: 16;





//  3. Dimensions
// ---
$page-max-width: 1280;




//  4. Levels
// ---
$levels: footer, content, header;





//  5. Themes
// ---
$theme: 'layout/'
