<footer class="page__footer footer">
	<ul class="footer__items">
		<li class="footer__item">
			<span class="footer__license"><a href="https://github.com/spacenomads/Asteroids/blob/main/LICENSE" class="footer__link"><span class="footer__license-cc">CC</span><span class="footer__license-zero">0</span> 1.0</a> <span class="footer__year">{{ settings.year }}</span></span>
		</li>
		<li class="footer__item">
			Asteroids <span class="footer__by">by <a href="https://spacenomads.com" class="footer__link">Spacenomads.com</a></span>
		</li>
		<li class="footer__item">v{{ settings.projectVersion }} - <a href="https://github.com/spacenomads/asteroids" class="footer__link">Fork it on GitHub</a></li>
	</ul>
</footer>
