.js__collapsible {
	@extend %unlist;
	margin: 2em 0;
	border: 1px solid #aaa;
}
.js__collapsible-item {
	& + .js__collapsible-item {
		border-top: 1px solid #aaa;
	}
}
.js__collapsible-label {
	padding: 1em;
	cursor: pointer;
	&:hover {
		background: cyan;
		& + .js__collapsible-content::after {
			border-top-color: cyan;
		}
	}
}
.js__collapsible-content {
	background: #424242;
	color: #fff;
	padding: 1em;
	position: relative;
	overflow: hidden;
	&::after {
		content: '';
		border: 8px solid transparent;
		border-top-color: white;
		position: absolute;
		top: -15px;
		left: 2em;
		transition: top ease .3s;
	}
}
.js__collapsible-item--visible {
	.js__collapsible-content {
		&::after {
			top: 0;
		}
	}
}



.js__collapsible--accordion {
	border: 1px solid #666;
	.js__collapsible-item {
		border-color: #666
	}
}
