#cookie_alert
	.wrapper
		p Usamos cookies para mejorar tu navegación. Si continuas navegando entendemos que aceptas su uso. <a rel="section" class="ext" title="Ver nuestra política de cookies" href="politica-de-cookies.html">Más información</a>.
		button.button.ext(type="button", title="Entendido") Entendido
		.code.hidden