// Colors
$c_white:#fff;
$c_black:#000;

$c_title: #424242;
$c_text: #666;
$c_link: #057;

$c_alert:#dd3519;

// dimensions
$d_sitewidth: 1000;
$d_radius:5px;

// Fonts
$f_base: arial, sans-serif;
$f_font:'helvetica', $f_base;
$f_font_size: 16;
$f_line_height: 130%;

// Effects
$base_time_transition: .5s;

// Paths
$theme: 'layout/2015/';

// Levels
$z_index: background, menu, content;

