@import 'normalize.min';
@import 'mixins';
@import 'extends';
@import 'settings';

/*
* #INDEX
*
* LAYOUT
* EU COOKIE LAW
*/





/*
* > LAYOUT
 */
@include snitch();
.wrapper {
	margin: 0 em( 30 );
	@include mq( $d_sitewidth + (30 * 2) ) {
		max-width: em( $d_sitewidth );
		margin: 0 auto;
	}
}





/*
* > EU COOKIE LAW
 */
#cookie_alert {
	display: none;
	&.shown {
		display: block;
	}
}