// > IMPORTS
// >> Core
@import 'core/variables';
@import 'core/functions';
@import 'core/mixins';
@import 'core/placeholders';
@import 'core/common';
@import 'core/fonts';
//@import 'core/debug';





// >> Vendors





// >> Components
@import 'components/typography';
@import 'components/buttons';
@import 'components/navigation';
@import 'components/forms';
@import 'components/layout';
@import 'components/header';
@import 'components/footer';





// >> Pages
body {background: cyan;}