// > IMPORTS
@import 'core/core';
// @import 'vendors/vendors';
@import 'components/components';
// @import 'pages/pages';

.test {
	color: red;

	@media (min-width: 500px) {
		color: green;
	}
}

.test2 {
	color: tomato;
	@media (min-width: 500px) {
		color: green;
	}
}
