extends layouts/main.pug

block vars
	- var lang = 'es'
	- var template = 'tpl__home'
	- var page = 'home'
	- var pageTitle = 'Asteroids homepage'


block main
	article
		.wrapper
			p (Main content)
