extends layouts/main.pug

block vars
	- var lang = 'es'
	- var template = 'tpl__home'
	- var page = 'home'
	- var pageTitle = 'Asteroids homepage'


block main
	article
		.wrapper
			p (Main content)

			ul.js__collapsible.js__collapsible--accordion(data-visible='1')
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
					
			ul.js__collapsible.js__collapsible--accordion(data-visible='all')
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
				li.js__collapsible-item
					.js__collapsible-label Etiqueta
					.js__collapsible-content Contenido
						
				
