- var lang = 'es'
- var dev = true
doctype html
include partials/_cc.pug
head
	meta(charset="utf-8")
	title Document title
	meta(name="description")
	include partials/_head.pug
body(class = "tpl_home home", class=dev ? '_dev' : '')
	.page

		include partials/_header.pug

		include partials/_menu.pug

		main#main.main_container(role = "main")
			.wrapper
				p (Main content)

		include partials/_footer.pug

	<!-- .page -->

	include partials/_js.pug

	include partials/_tag.pug
