{% set lang = "en" %}
{% set template = "tpl__home" %}
{% set page = "home" %}
{% set pageTitle = "Página de prueba" %}

{% extends "layouts/main.njk" %}

{% block content %}
	<h1>{{pageTitle}}</h1>
{% endblock %}
