// [if IE 8]><html class="no-js ie ieoldie lt_ie10 lt_ie9 lt_ie8" lang="#{lang}"><![endif]
// [if IE 8]><html class="no-js ie ie8 lt_ie10 lt_ie9" lang="#{lang}"><![endif]
// [if IE 9]><html class="no-js ie ie9 lt_ie10" lang="#{lang}"><![endif]
// [if (gte IE 9)|!(IE)]><!
html( class="no-js", lang="#{lang}")
// <![endif]