div.cookie__alert.js__cookie-alert
	.wrapper
		p.cookie__message Esta web usa cookies. Para saber más revisa nuestra <a class="ext" rel="section" title="Ver nuestra política de cookies" href="/cookies.html">política de cookies</a>.
		button.cookie__cta.js__cookie-btn.button.button--secondary( type="button", title="Acepto la política de cookies" ) ¡Entendido!
		div.cookie__code.js__cookie-code
<!-- #cookie_alert -->
