<div class="cookie__alert js__cookie-alert">
	<div class="wrapper">
		<p class="cookie__message">Esta web usa cookies. Para saber más revisa nuestra <a class="ext" rel="section" title="Ver nuestra política de cookies" href="/cookies.html">política de cookies</a>.</p>
		<button class="cookie__cta button button--secondary js__cookie-btn" type="button" title="Acepto la política de cookies">¡Entendido!</button>
		<div class="cookie__code js__cookie-code"></div>
	</div>
</div>
