nav.menu__block
	ul.menu
		li.menu__item
			a.menu__link.ext(href="") Item 1
		li.menu__item
			a.menu__link.ext(href="") Item 2
		li.menu__item
			a.menu__link.ext(href="") Item 3

<!-- .menu__block -->
