---
title: home
layout: layouts/sample-layout.njk
eleventyNavigation:
  key: home
---
<section class="hero content" data-published="{{ settings.version }}" data-mode="{{ settings.mode }}">
	<div class="wrapper">
		<hgroup class="hero__asteroids">
			<h1 class="hero__asteroids-title"><span class="hero__asteroids-title-main">Asteroids</span> <small class="hero__asteroids-by">by Spacenomads</small></h1>
		</hgroup>
  </div>
</section>






