---
title: home
layout: layouts/main.njk
eleventyNavigation:
  key: home
---
<section class="latest-posts content" data-published="{{ settings.version }}" data-mode="{{ settings.mode }}">
  <div class="wrapper">
    YAY
  </div>
</section>






